html {
  --select-option-image-width: 13rem;
}

h1 {
  font-size: 1.75rem
}

h2 {
  font-size: 1.3rem 
}

h3 {
  font-size: 1.1rem;
  color: var(--blue-france-sun-113-625)
}

#app {
  position: absolute;
  inset: 0;
}

a {
  background-image: none !important;
}

.fr-container {
  width: 100%;
  height: 100%;
}

.footer {
  position: fixed;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  background-color: #f5f5fe;
  box-shadow: 0 -4px 16px rgb(0 0 0 / 25%);
  padding: 15px !important;
  width: 100%;
}

.footer-up {
  top: 97%;
}

button {
  border-radius: 3px;
  white-space: nowrap;
  display: inline-flex;
  width: fit-content;
  align-items: center;
  gap: 0.5rem;
}

.footer-text {
  padding: 10px;
  text-align: center;
  box-shadow: none;
}

.footer-actions {
  display: flex;
  justify-content: space-around;
  color: var(--blue-france-sun-113-625);
  z-index: 1;
  margin: auto;
}

.small-blank {
  height: 10vh;
  z-index: 1
}

.big-blank {
  height: 25vh;
  z-index: 1
}

.action-group {
  text-align: center;
  cursor: pointer;
  margin: 8px 0;
}

.action-group:hover {
  color: #1212ff;
}

.action-group-text {
  font-size: 14px;
  font-weight: bold;
  margin: 0
}

.img-deco {
  margin-bottom: 2.5em;
  width: 100%
}

h4 {
  font-size: 1.3rem;
  margin: 0.75rem;
}

h5 {
  font-size: 1.1rem;
  color: var(--blue-france-sun-113-625)
}

.help {
  color: var(--blue-france-sun-113-625);
  background-image: var(--underline-img), var(--underline-img) !important;
}


