@screen lt-sm {
  h1 {
    font-size: 1.75rem
  }

  h2 {
    font-size: 1.3rem
  }
}
.text-blue {
  color: var(--blue-france-sun-113-625);
}

#app {
  position: absolute;
  inset: 0;
}

a {
  background-image: none !important;
}

.fr-container {
  width: 100%;
  height: 100%;
}

.footer {
  position: fixed;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  background-color: #ffffff;
  box-shadow: 0 -4px 16px rgb(0 0 0 / 25%);
  padding: 15px;
  width: 100%;
}

.footer-text {
  padding: 10px;
  text-align: center;
  box-shadow: none;
}

.footer-actions {
  display: flex;
  justify-content: space-around;
  color: var(--blue-france-sun-113-625);
  z-index: 1;
  margin: auto;
}

.small-blank {
  height: 10vh;
  z-index: 1
}

.big-blank {
  height: 25vh;
  z-index: 1
}

.img-deco {
  margin-bottom: 2.5em;
  width: 100%
}

.help {
  color: var(--blue-france-sun-113-625);
  background-image: var(--underline-img), var(--underline-img) !important;
}

.w-60 {
  width: 60% !important;
}

.w-80 {
  width: 80% !important;
}

.w-100 {
  width: 100% !important;
}
