name: Test E2E

on:
  workflow_call:

jobs:
  test-e2e:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Start stack using docker compose
        run: docker compose -f docker-compose.yml -f docker-compose.override.ci.yml up -d
      
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          working-directory: ./frontend
          command: npm run test:e2e-ci

      - name: Send artifacts
        uses: actions/upload-artifact@v3
        if: ${{ failure() }}
        with:
          name: cypress-screenshots
          path: |
            ./frontend/cypress/screenshots/
